/** Highlight.js Styles (Syntax Highlighting) */

.highlight {
  display: block;
  background: white;
  color: #333333;
  overflow-x: auto;
  margin-bottom: 15px;
}

.highlight .gutter pre {
  border: 0;
  text-align: right;
  padding-right: 10px;
  background-color: transparent;
}
.highlight .code {
  width: 100%;
}

.highlight figcaption {
  font-size: .8em;
  color: #999;
}
.highlight figcaption a {
  float: right;
}

.highlight table {
  margin: 0;
  width: 100%;
}

.highlight pre {
  margin: 0;
  background-color: #eeeeee;
}

.highlight .comment,
.highlight .meta {
  color: #969896;
}

.highlight .string,
.highlight .value,
.highlight .variable,
.highlight .template-variable,
.highlight .strong,
.highlight .emphasis,
.highlight .quote,
.highlight .inheritance,
.highlight.ruby .symbol,
.highlight.xml .cdata {
  color: #df5000;
}

.highlight .keyword,
.highlight .selector-tag,
.highlight .type,
.highlight.javascript .function {
  color: #a71d5d;
}

.highlight .number,
.highlight .preprocessor,
.highlight .built_in,
.highlight .params,
.highlight .constant,
.highlight .literal,
.highlight .symbol,
.highlight .bullet,
.highlight .attribute,
.highlight.css .hexcolor {
  color: #0086b3;
}

.highlight .section,
.highlight .header,
.highlight .name,
.highlight .function,
.highlight.python .decorator,
.highlight.python .title,
.highlight.ruby .function .title,
.highlight.ruby .title .keyword,
.highlight.perl .sub,
.highlight.javascript .title,
.highlight.coffeescript .title {
  color: #63a35c;
}

.highlight .tag,
.highlight .regexp {
  color: #333333;
}

.highlight .title,
.highlight .attr,
.highlight .selector-id,
.highlight .selector-class,
.highlight .selector-attr,
.highlight .selector-pseudo,
.highlight.ruby .constant,
.highlight.xml .tag .title,
.highlight.xml .pi,
.highlight.xml .doctype,
.highlight.html .doctype,
.highlight.css .id,
.highlight.css .class,
.highlight.css .pseudo,
.highlight .class,
.highlight.ruby .class .title,
.highlight.css .rules .attribute {
  color: #795da3;
}

.highlight .addition {
  color: #55a532;
  background-color: #eaffea;
}

.highlight .deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.highlight .line {
  height: 18px;
}

.highlight .link {
  text-decoration: underline;
}

.highlight .line {
  // Fixing empty line issue
  height: 18px;
}
