<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/navbar') %>
  <div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
          <%- body %>
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        </div>
    </div>
  </div>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/inline-scripts') %>
</body>
</html>
